header {
  width: 100%;
  height: 80px;
  box-shadow: 0 0 10px -7px rgba(0,0,0,0.7);
  background-color: #111827;
}

nav {
  max-width: 85%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto; /* Center the nav horizontally */
}

.logo-container h1 {
  color: #fff;
}

.menu-items {
  flex-grow: 1; /* Allow menu items to take remaining space */
  text-align: center; /* Center menu items */
}

.menu-items a {
  color: aliceblue;
  margin: 5px;
}

.menu-items a:hover {
  color: white;
}

.nav-buttons {
  display: flex;
  align-items: center;
  color: aliceblue;
  margin: 5px;
  padding: 10px;
}

.btnns a {
  margin: 5px;
  color: aliceblue;
  padding: 10px;
}


.btnns a:hover {
  color: rgb(14, 0, 75);
  padding: 10px;
  background-color: #f3db00f4;
  border-radius: 10px;
}


.logbtn,
.regbtn {
  background-color: #e7095a;
  border-radius: 5px;
  margin: 5px;
  padding: 6px;
  text-decoration: none; /* Remove default link underline */
}

.regbtn {
  background-color: #00ca8a;
}

.logbtn:hover {
  background-color: #c2074b;
}

.regbtn:hover {
  background-color: #0c9368;
}
